.form-style {
    min-width: 150px;
    width: 100%;
  
}
 

.mailFormStyle {
    background: silver;
    padding: 5px;
}

 
.textbox-style {
    width: 100%;
}

.btn-alignment{
    margin: 0 auto;
    vertical-align: middle;
}